<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post" class="for">

  <div class="form-group">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="postTitle"  required autocomplete="off">
    </div>

    <div class="mb-3">
      <label class="form-label">Post</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" name="postBody" required></textarea>
    </div>

  </div>

  <button type="submit"  class="btn btn-primary btn-lg" >Publish</button>

</form>

<form action="/cancel" method="post" class="for">
  <button type="submit" class="btn btn-danger btn-lg">Cancel</button>
</form>


<%- include("partials/footer") -%>
